
#header-nav{
border-radius: 0%;
background-color: rgb(0, 0, 0);
}

body{
    background-color: whitesmoke
}

#nav-container{
    margin-left: 0%;
    margin-right: 0%;
}

.navbar-brand{
    font-size: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    
}

#brand{
    margin-top: 0%;
    margin-bottom: 0%;
    color: rgb(6, 255, 255);
    
}

#nav-list{
    margin-top: 0%;
    margin-bottom: 0%;
}
#nav-list li{
    text-align: center;
    font-size: 20px;
   
}

#nav-list li a{
    color: rgb(255, 226, 226);
}
#chicken{
    background-color: rgba(0, 208, 255, 0.301);
}

#beef{
    background-color: rgba(89, 0, 255, 0.267);
}
#sushi{
    background-color: rgba(0, 255, 85, 0.322);
}
#div-chicken, #div-beef, #div-sushi{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    border: 1px solid black;
    padding: 20px;
    text-align: justify;
}

#div-chicken{
    background-color: rgba(0, 208, 255, 0.301)
}
#div-beef{
    background-color: rgba(89, 0, 255, 0.267);    
}
#div-sushi{
    background-color: rgba(0, 255, 85, 0.322);
}

#main-head{
    text-align: center;
    font-size: 4em;
    text-shadow: 2px 2px 5px black;
}

.title{
    width: 70%;
    margin-left: 17%;
    text-align:center;
    margin-top: 5px;
    background-color: rgba(245, 245, 245, 0.288);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 5px brown;
}

@media (max-width:522px){
    #main-head{
        font-size:2em;
    }

    #brand{
        font-size: 30px;
    }
}